@import url("https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans&display=swap");

.blue-color {
    background-color: #e8f0f2;
}

.noto {
    font-family: "Noto Sans", sans-serif;
}

.anto {
    font-family: "Anton", sans-serif;
}

.primary-color {
    color: #053742;
}

.secondary-color {
    color: #a2dbfa;
}

.tertiary-color {
    color: #39a2db;
}

.quaternary-color {
    color: #39a2db;
}

.button-color {
    background-color: #053742;
}
